.indexContentContainer{
    display: flex;
    flex-direction: column;
    
}

.indexTitleContainer {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 45vh;
    margin-top: -5rem;
}

.indexTitleItem {
    font-size: 7vw;
    color: white;
}

.indexSubTitleItem {
    font-size: 2vw;
    color: white;
}

.indexButtonContainer {
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
}

.indexButtonItem{
    border: 1px solid white;
    height: 6vh;
    width: 8rem;
    font-size: 1.1rem;
    border-radius: 5px;
}

.indexButtonItem:hover{
    background-color: white;
    color: black;
}


@media all and (max-width:30em) {

    .indexTitleItem {
        font-size: 10vw;
    }

    .indexSubTitleItem {
        font-size: 3vw;
    }

    .indexTitleContainer{
      height: 27vh;
    }
}

