.layoutNavbar{
    display: flex;
    /* border: 1px solid red; */
    height: 10vh;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-size: 2vh;
}

.layoutNavbarItems{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid purple; */
    width: 100vw;
    padding: 3rem;
}

.layoutNavbarSubItems{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    width: 8vw;
}


.layoutContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid blue; */
    height: 90vh;
    overflow: none;
}

.layoutNavbarLogoItem{
    cursor: pointer;
}