.content {
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    background-color: #b2b2b2;
    background-color: rgba(0, 0, 0, .3);
    /* border: 1px solid black; */
    height: 80vh;
    width: 80vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 5px;
}

.symbolContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid blue; */
    justify-content: center;
    height: 40vh;
    width: 80vw;
}

.symbolItem{
    display: flex;
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    /* border: 1px solid red; */
}

.nameItem{
    font-size: 3vh;
    margin-top: 1.5vh;
}

.detailsContainer{
    display: flex;
    /* border: 1px solid red; */
    height: 25vh;
    width: 80vw;
    justify-content: space-evenly;
    align-items: center;
}

.lowerSection{
    display: flex;
    /* border: 1px solid green; */
    flex-direction: column;
    align-items: center;
    height: 30vh
}

.symptomsContainer{
    display: flex;
    border: 1px solid white;
    width: 35vw;
    height: 17vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}

.contactsContainer{
    display: flex;
    border: 1px solid white;
    width: 35vw;
    height: 17vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}

.contactsContainer:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.symptomsContainer:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.buttonItem{
    border: 1px solid white;
    height: 6vh;
    width: 8rem;
    font-size: 1.1rem;
    border-radius: 5px;
}

.buttonItem:hover{
    background-color: white;
    color: black;
}


