.negativeContent {
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
}

.negativeCard {
    display: flex;
    background-color: #b2b2b2;
    background-color: rgba(0, 0, 0, .3);
    /* border: 1px solid black; */
    height: 80vh;
    width: 80vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 5px;
}

.negativeSymbolContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid blue; */
    justify-content: center;
    height: 40vh;
    width: 80vw;
}

.negativeSymbolItem{
    display: flex;
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    /* border: 1px solid red; */
}

.negativeNameItem{
    font-size: 3vh;
    margin-top: 1.5vh;
}

.negativeDetailsContainer{
    display: flex;
    /* border: 1px solid red; */
    height: 25vh;
    width: 80vw;
    justify-content: space-evenly;
    align-items: center;
}

.negativeLowerSection{
    display: flex;
    /* border: 1px solid green; */
    flex-direction: column;
    align-items: center;
    height: 30vh
}

.negativeSymptomsContainer{
    display: flex;
    border: 1px solid white;
    width: 35vw;
    height: 17vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}

.negativeContactsContainer{
    display: flex;
    border: 1px solid white;
    width: 35vw;
    height: 17vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}

.negativeContactsContainer:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.negativeSymptomsContainer:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.negativeButtonItem{
    border: 1px solid white;
    height: 6vh;
    width: 8rem;
    font-size: 1.1rem;
    border-radius: 5px;
}

.negativeButtonItem:hover{
    background-color: white;
    color: black;
}


