.positiveContent {
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
}

.positiveCard {
    display: flex;
    background-color: #b2b2b2;
    background-color: rgba(0, 0, 0, .3);
    /* border: 1px solid black; */
    height: 80vh;
    width: 80vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 5px;
}

.positiveSymbolContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid blue; */
    justify-content: center;
    height: 40vh;
    width: 80vw;
}

.positiveSymbolItem{
    display: flex;
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    /* border: 1px solid red; */
}

.positiveNameItem{
    font-size: 3vh;
}

.positiveDetailsContainer{
    display: flex;
    /* border: 1px solid red; */
    height: 25vh;
    width: 80vw;
    justify-content: space-evenly;
    align-items: center;
}

.positiveLowerSection{
    display: flex;
    /* border: 1px solid green; */
    flex-direction: column;
    align-items: center;
    height: 30vh
}

.positiveSymptomsContainer{
    display: flex;
    border: 1px solid white;
    width: 35vw;
    height: 17vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}

.positiveContactsContainer{
    display: flex;
    border: 1px solid white;
    width: 35vw;
    height: 17vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}

.positiveContactsContainer:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.positiveSymptomsContainer:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.positiveButtonItem{
    border: 1px solid white;
    height: 6vh;
    width: 8rem;
    font-size: 1.1rem;
    border-radius: 5px;
}

.positiveButtonItem:hover{
    background-color: white;
    color: black;
}


